# Backend - Spring Boot
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# Frontend - React
frontend/node_modules/
frontend/dist/

# Environment / secrets
.env
.env.*

backend/jobtrack/src/main/resources/application.properties